
/*pagedoll*/

.container.main::before {
    content: ""; 
    background-image: url('https://i.postimg.cc/dhzDV5KS/Untitled223-20260717204144.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    display: block;
    height: 400px;
    width: 400px;
    right: 0px;
    bottom: 10px;
    z-index: 100;
    pointer-events: none;
}
