.container.main::before {
    content: ""; 
    background-image: url('https://i.postimg.cc/CZfvgqrk/Untitled223-20260717141146.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    display: block;
    height: 250px;
    width: 250px;
    right: 0px;
    bottom: -10px;
    z-index: 100;
    pointer-events: none;
}
